.App {
  text-align: center;
}

input{
  border: none;
  background-color: rgb(220, 203, 203);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.337);
}
label{
  position: absolute;
  display: none;
}
